{% extends 'store/base.html'%} {% load static%} {% load humanize %} {% block contentblock%}
<!-- End mainmenu area -->

<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Giỏ hàng</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page title area -->

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-content-right">
          <div class="woocommerce">
            {% if list_chitiet_donhang %} 
            <form
              method="post"
              action="{% url 'donhangs:update_cart' list_chitiet_donhang%}"
            >
              {% csrf_token %}{{form}}
              <table cellspacing="0" class="shop_table cart">
                <thead>
                  <tr>
                    <th class="product-remove">&nbsp;</th>
                    <th class="product-thumbnail">&nbsp;</th>
                    <th class="product-name">Sản phẩm</th>
                    <th class="product-price">Giá</th>
                    <th class="product-quantity">Số lượng</th>
                    <th class="product-subtotal">Tổng tiền</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- item -->
               
                  {% for item in list_chitiet_donhang %}
                  <tr class="cart_item">
                    <td class="product-remove">
                      <a
                        title="Remove this item"
                        class="remove"
                        href="{% url 'donhangs:remove_cart' item.sanpham.id_sanpham %}"
                        >×</a
                      >
                    </td>

                    <td class="product-thumbnail">
                      <a href="#"
                        ><img
                          width="145"
                          height="145"
                          alt="poster_1_up"
                          class="shop_thumbnail"
                          src="{% static item.sanpham.get_hinhanh %}"
                      /></a>
                    </td>

                    <td class="product-name">
                      <a href="{% url 'sanpham:detail_product' item.sanpham.id_sanpham %}"
                        >{{item.sanpham.tensanpham}}</a
                      >
                    </td>

                    <td class="product-price">
                      <span class="amount">{{item.sanpham.get_dongia|intcomma}} VNĐ</span>
                    </td>

                    <td class="product-quantity">
                      <div class="quantity buttons_added">
           
                        <input
                          name="soluong_{{item.sanpham.id_sanpham}}"
                          type="number"
                          size="4"
                          class="input-text qty text"
                          title="Qty"
                          value="{{item.soluong}}"
                          min="0"
                          step="1"
                        />
                      
                      </div>
                    </td>

                    <td class="product-subtotal">
                      <span class="amount">{{item.thanhtien|intcomma}} VNĐ</span>
                    </td>
                  </tr>
                  {% endfor %}
                
                  <tr>
                    <td class="actions" colspan="6">
                      <input
                        type="submit"
                        value="Cập nhập"
                        name="update_cart"
                        class="button"
                      />
                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </form>
            {% else %}
            <h2 style="text-align:center">Không có sản phẩm</h2>
            {% endif %}
        
              <div
                class="cart_totals"
                style="
                  float: none !important;
                  margin-left: auto;
                  margin-right: auto;
                "
              >
              {% if list_chitiet_donhang %}
                <!-- <h2>Cart Totals</h2> -->
            <form method="POST" action="{% url 'donhangs:thanhtoan' donhang.id %}">
              {% csrf_token %}{{form}}
                <table cellspacing="0">
                  <tbody>
                    <tr class="cart-subtotal">
                      <th>Tổng tiền</th>
                      <td><span class="amount">{{donhang.tongtien|intcomma}} VNĐ</span></td>
                    </tr>

                    <tr class="shipping">
                      <th>Shipping</th>
                      <td>Free</td>
                    </tr>

                    
                  </tbody>
                </table>
                <input
                  style="display: block;margin-left: auto;margin-right: auto;margin-top: 30px;"
                  type="submit"
                  value="Thanh toán"
                  name="proceed"
                  class="checkout-button button alt wc-forward"
                />
              </div>
            </form>
              {% endif %}
              <!-- <form method="post" action="#" class="shipping_calculator">

                <h2>
                  <a
                    class="shipping-calculator-button"
                    data-toggle="collapse"
                    href="#calcalute-shipping-wrap"
                    aria-expanded="false"
                    aria-controls="calcalute-shipping-wrap"
                    >Calculate Shipping</a
                  >
                </h2>

                <section
                  id="calcalute-shipping-wrap"
                  class="shipping-calculator-form collapse"
                >
                  <p class="form-row form-row-wide">
                    <select
                      rel="calc_shipping_state"
                      class="country_to_state"
                      id="calc_shipping_country"
                      name="calc_shipping_country"
                    >
                      <option value="">Select a country…</option>
                      <option value="AX">Åland Islands</option>
                      <option value="AF">Afghanistan</option>
                      <option value="AL">Albania</option>
                      <option value="ZW">Zimbabwe</option>
                    </select>
                  </p>

                  <p class="form-row form-row-wide">
                    <input
                      type="text"
                      id="calc_shipping_state"
                      name="calc_shipping_state"
                      placeholder="State / county"
                      value=""
                      class="input-text"
                    />
                  </p>

                  <p class="form-row form-row-wide">
                    <input
                      type="text"
                      id="calc_shipping_postcode"
                      name="calc_shipping_postcode"
                      placeholder="Postcode / Zip"
                      value=""
                      class="input-text"
                    />
                  </p>

                  <p>
                    <button
                      class="button"
                      value="1"
                      name="calc_shipping"
                      type="submit"
                    >
                      Update Totals
                    </button>
                  </p>
                </section>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End footer top area -->

{% endblock %}
