<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
{% extends 'store/base.html'%} {% load static %} {% load humanize %} {%block contentblock%}
<div class="mainmenu-area">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'sanpham:home' %}">Home</a></li>
          <li>
            <a href="{% url 'sanpham:shop_page' %}">Sản phẩm</a>
          </li>
          <!-- <li><a href="single-product.html">Single product</a></li> -->
          <li class="active">
            <a href="{% url 'sanpham:category' %}">Thể loại</a>
          </li>

          <!-- <li><a href="#">Others</a></li> -->
          <li><a href="#">Liên hệ</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End mainmenu area -->

<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Thể loại</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="left-sidebar">
          <h2>Thể loại</h2>
          <div class="panel-group category-products" id="accordian">
            <!--category-list-->
            {% for item in list_category%}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a href="{% url 'sanpham:list_category_product' item.id_loaisanpham %}"> {{item.tenloaisanpham}} </a>
                </h4>
              </div>
            </div>
            {% endfor%}
          </div>
          <!--/category-products-->

          <div class="brands_products">
            <!--brands_products-->
            <h2>Brands</h2>
            <div class="brands-name">
              <ul class="nav nav-pills nav-stacked">
                {% for i in list_branch%}
                <li>
                  <a href="{% url 'sanpham:list_branch_product' i.id_hang %}">
                    <span class="pull-right">({{i.dem}})</span>{{i.tenhang}}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!--/brands_products-->
        </div>
      </div>

      <div class="col-md-9">
        <div class="product-content-right">
          <!-- List sp ở đây -->
          <div class="row">
            {% for item in list_sp %}
            <div class="col-md-3 col-sm-6">
              <div class="single-shop-product" style="position: relative; height: 400px">
                <div class="product-upper" style="height: 270px; position: relative">
                  <img
                    src="{% static item.hinhanh %}"
                    alt=""
                    style="position: absolute; top: 50%; transform: translateY(-50%)"
                  />
                </div>
                <h2>
                  <a href="{% url 'sanpham:detail_product' item.id_sanpham %}">{{item.tensanpham}}</a>
                </h2>
                <div class="product-carousel-price" style="position: absolute; bottom: 12%">
                  <ins>{{item.dongia|intcomma}}VNĐ</ins>
                  <!-- <del>$999.00</del> -->
                </div>

                <div class="product-option-shop" style="position: absolute; bottom: 0%">
                  <a
                    class="add_to_cart_button"
                    data-quantity="1"
                    data-product_sku=""
                    data-product_id="70"
                    rel="nofollow"
                    href="{% url 'donhangs:add_cart' item.id_sanpham %}"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="product-pagination text-center">
                <nav>
                  <ul class="pagination">
                    {% if list_sp.has_previous %}
                    <li>
                      <a href="?page={{ list_sp.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="?page={{ list_sp.previous_page_number }}">{{ list_sp.previous_page_number }}</a></li>

                    {% endif %}
                    <li><a href="?page={{ list_sp.number }}">{{ list_sp.number }}</a></li>

                    {% if list_sp.has_next %}

                    <li><a href="?page={{ list_sp.next_page_number }}">{{ list_sp.next_page_number }}</a></li>
                    {% endif %} {% if list_sp.has_next %}
                    <li>
                      <a href="?page={{ list_sp.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- <div class="related-products-wrapper">
            <h2 class="related-products-title">Related Products</h2>
            <div class="related-products-carousel">
              <div class="single-product">
                <div class="product-f-image">
                  <img src="img/product-1.jpg" alt="" />
                  <div class="product-hover">
                    <a href="" class="add-to-cart-link"
                      ><i class="fa fa-shopping-cart"></i> Add to cart</a
                    >
                    <a href="" class="view-details-link"
                      ><i class="fa fa-link"></i> See details</a
                    >
                  </div>
                </div>

                <h2><a href="">Sony Smart TV - 2015</a></h2>

                <div class="product-carousel-price">
                  <ins>$700.00</ins> <del>$800.00</del>
                </div>
              </div>
              <div class="single-product">
                <div class="product-f-image">
                  <img src="img/product-2.jpg" alt="" />
                  <div class="product-hover">
                    <a href="" class="add-to-cart-link"
                      ><i class="fa fa-shopping-cart"></i> Add to cart</a
                    >
                    <a href="" class="view-details-link"
                      ><i class="fa fa-link"></i> See details</a
                    >
                  </div>
                </div>

                <h2><a href="">Apple new mac book 2015 March :P</a></h2>
                <div class="product-carousel-price">
                  <ins>$899.00</ins> <del>$999.00</del>
                </div>
              </div>
              <div class="single-product">
                <div class="product-f-image">
                  <img src="img/product-3.jpg" alt="" />
                  <div class="product-hover">
                    <a href="" class="add-to-cart-link"
                      ><i class="fa fa-shopping-cart"></i> Add to cart</a
                    >
                    <a href="" class="view-details-link"
                      ><i class="fa fa-link"></i> See details</a
                    >
                  </div>
                </div>

                <h2><a href="">Apple new i phone 6</a></h2>

                <div class="product-carousel-price">
                  <ins>$400.00</ins> <del>$425.00</del>
                </div>
              </div>
              <div class="single-product">
                <div class="product-f-image">
                  <img src="img/product-4.jpg" alt="" />
                  <div class="product-hover">
                    <a href="" class="add-to-cart-link"
                      ><i class="fa fa-shopping-cart"></i> Add to cart</a
                    >
                    <a href="" class="view-details-link"
                      ><i class="fa fa-link"></i> See details</a
                    >
                  </div>
                </div>

                <h2><a href="">Sony playstation microsoft</a></h2>

                <div class="product-carousel-price">
                  <ins>$200.00</ins> <del>$225.00</del>
                </div>
              </div>
              <div class="single-product">
                <div class="product-f-image">
                  <img src="img/product-5.jpg" alt="" />
                  <div class="product-hover">
                    <a href="" class="add-to-cart-link"
                      ><i class="fa fa-shopping-cart"></i> Add to cart</a
                    >
                    <a href="" class="view-details-link"
                      ><i class="fa fa-link"></i> See details</a
                    >
                  </div>
                </div>

                <h2><a href="">Sony Smart Air Condtion</a></h2>

                <div class="product-carousel-price">
                  <ins>$1200.00</ins> <del>$1355.00</del>
                </div>
              </div>
              <div class="single-product">
                <div class="product-f-image">
                  <img src="img/product-6.jpg" alt="" />
                  <div class="product-hover">
                    <a href="" class="add-to-cart-link"
                      ><i class="fa fa-shopping-cart"></i> Add to cart</a
                    >
                    <a href="" class="view-details-link"
                      ><i class="fa fa-link"></i> See details</a
                    >
                  </div>
                </div>

                <h2><a href="">Samsung gallaxy note 4</a></h2>

                <div class="product-carousel-price">
                  <ins>$400.00</ins>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
