{% extends 'store/base.html'%} {% load static%} {% load humanize %} {% block contentblock%}
<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Lịch sử giao dịch</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-content-right">
          <div class="woocommerce">
            {% if listorder %}

            <table cellspacing="0" class="shop_table cart">
              <thead>
                <tr>
                  <th class="product-name">Mã Đơn hàng</th>
                  <th class="product-price">Trạng thái</th>
                  <th class="product-quantity">Ngày tạo</th>
                  <th class="product-subtotal">Tổng tiền</th>
                </tr>
              </thead>
              <tbody>
                <!-- item -->

                {% for item in listorder %}
                <tr class="cart_item">
                  <td class="product-price">
                    {% if item.trangthai == True %}
                    <a href="{% url 'donhangs:chitiet' item.id %}"><span class="amount">{{item.id}}</span></a>
                    {%else%}
                    <a href="{% url 'donhangs:view_cart' %}"><span class="amount">{{item.id}}</span></a>
                    {%endif%}
                  </td>

                  <td class="product-price">
                    <span class="amount"
                      >{% if item.trangthai == True %} Đã thanh toán {%else%} Chưa thanh toán {%endif%}</span
                    >
                  </td>

                  <td class="product-subtotal">
                    <span class="amount">{{item.ngaydat}}</span>
                  </td>

                  <td class="product-subtotal">
                    <span class="amount">{{item.tongtien|intcomma}} VNĐ</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            {% else %}
            <h2 style="text-align: center">Không có đơn hàng</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-top-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-about-us">
          <h2>e<span>Electronics</span></h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum
            quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste,
            pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?
          </p>
          <div class="footer-social">
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">User Navigation</h2>
          <ul>
            <li><a href="#">My account</a></li>
            <li><a href="#">Order history</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a href="#">Vendor contact</a></li>
            <li><a href="#">Front page</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">Categories</h2>
          <ul>
            <li><a href="#">Mobile Phone</a></li>
            <li><a href="#">Home accesseries</a></li>
            <li><a href="#">LED TV</a></li>
            <li><a href="#">Computer</a></li>
            <li><a href="#">Gadets</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-newsletter">
          <h2 class="footer-wid-title">Newsletter</h2>
          <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
          <div class="newsletter-form">
            <form action="#">
              <input type="email" placeholder="Type your email" />
              <input type="submit" value="Subscribe" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End footer top area -->

<div class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="copyright">
          <p>
            &copy; 2015 eElectronics. All Rights Reserved. Coded with
            <i class="fa fa-heart"></i> by
            <a href="http://wpexpand.com" target="_blank">WP Expand</a>
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-card-icon">
          <i class="fa fa-cc-discover"></i>
          <i class="fa fa-cc-mastercard"></i>
          <i class="fa fa-cc-paypal"></i>
          <i class="fa fa-cc-visa"></i>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
