{% extends 'store/base.html'%} {% load static%} {% load humanize %} {% block contentblock%}
<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Lịch sử giao dịch</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-content-right">
          <div class="woocommerce">
            {% if listorder %}

            <table cellspacing="0" class="shop_table cart">
              <thead>
                <tr>
                  <th class="product-name">Mã Đơn hàng</th>
                  <th class="product-price">Trạng thái</th>
                  <th class="product-quantity">Ngày tạo</th>
                  <th class="product-subtotal">Tổng tiền</th>
                </tr>
              </thead>
              <tbody>
                <!-- item -->

                {% for item in listorder %}
                <tr class="cart_item">
                  <td class="product-price">
                    {% if item.trangthai == True %}
                    <a href="{% url 'donhangs:chitiet' item.id %}"><span class="amount">{{item.id}}</span></a>
                    {%else%}
                    <a href="{% url 'donhangs:view_cart' %}"><span class="amount">{{item.id}}</span></a>
                    {%endif%}
                  </td>

                  <td class="product-price">
                    <span class="amount"
                      >{% if item.trangthai == True %} Đã thanh toán {%else%} Chưa thanh toán {%endif%}</span
                    >
                  </td>

                  <td class="product-subtotal">
                    <span class="amount">{{item.ngaydat}}</span>
                  </td>

                  <td class="product-subtotal">
                    <span class="amount">{{item.tongtien|intcomma}} VNĐ</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            {% else %}
            <h2 style="text-align: center">Không có đơn hàng</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
