{% extends 'store/base.html'%} {% load static%} {% load humanize %} {% block contentblock%}
<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Thông tin đơn hàng</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-content-right">
          <div class="woocommerce">
            {% if list %}

            <table cellspacing="0" class="shop_table cart">
              <thead>
                <tr>
                  <th class="product-name">Tên sản phẩm</th>
                  <th class="product-price">Đơn giá</th>
                  <th class="product-quantity">Số lượng mua</th>
                  <!-- <th class="product-subtotal">Tổng tiền</th> -->
                </tr>
              </thead>
              <tbody>
                <!-- item -->

                {% for item in list %}
                <tr class="cart_item">
                  <td class="product-price">
                    <a href="{% url 'sanpham:detail_product' item.sanpham.id_sanpham %}"
                      ><span class="amount">{{item.sanpham.tensanpham}}</span></a
                    >
                  </td>

                  <td class="product-price">
                    <span class="amount">{{item.sanpham.dongia|intcomma}}VNĐ</span>
                  </td>

                  <td class="product-subtotal">
                    <span class="amount">{{item.soluong}}</span>
                  </td>

                  <!-- <td class="product-subtotal">
                    <span class="amount">{{item.tongtien}}</span>
                  </td> -->
                </tr>
                {% endfor %}
              </tbody>
            </table>

            {% else %}
            <h2 style="text-align: center">Không có đơn hàng</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End footer top area -->

{% endblock %}
