{% extends 'store/base.html'%} {% load static%} {% load humanize %} {% block contentblock%}
<div class="mainmenu-area">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'sanpham:home' %}">Home</a></li>
          <li class="active">
            <a href="{% url 'sanpham:shop_page' %}">Sản phẩm</a>
          </li>
          <!-- <li><a href="single-product.html">Single product</a></li> -->
          <li><a href="{% url 'sanpham:category' %}">Thể loại</a></li>

          <!-- <li><a href="#">Others</a></li> -->
          <li><a href="#">Liên hệ</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="product-big-title-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-bit-title text-center">
          <h2>Shop</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      {% for item in list_sp %}
      <div class="col-md-3 col-sm-6">
        <div class="single-shop-product" style="position: relative; height: 400px">
          <div class="product-upper" style="height: 270px; position: relative">
            <img
              src="{% static item.hinhanh %}"
              alt=""
              style="position: absolute; top: 50%; transform: translateY(-50%)"
            />
          </div>
          <h2>
            <a style="text-transform: uppercase" href="{% url 'sanpham:detail_product' item.id_sanpham %}"
              >{{item.tensanpham}}</a
            >
          </h2>
          <div class="product-carousel-price" style="position: absolute; bottom: 12%">
            <ins>{{item.dongia| intcomma}} VNĐ</ins>
            <!-- <del>$999.00</del> -->
          </div>

          <div class="product-option-shop" style="position: absolute; bottom: 0%">
            <a
              class="add_to_cart_button"
              data-quantity="1"
              data-product_sku=""
              data-product_id="70"
              rel="nofollow"
              href="{% url 'donhangs:add_cart' item.id_sanpham %}"
              >Add to cart</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="product-pagination text-center">
          <nav>
            <ul class="pagination">
              {% if list_sp.has_previous %}
              <li>
                <a href="?page={{ list_sp.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="?page={{ list_sp.previous_page_number }}">{{ list_sp.previous_page_number }}</a></li>

              {% endif %}
              <li><a href="?page={{ list_sp.number }}">{{ list_sp.number }}</a></li>

              {% if list_sp.has_next %}

              <li><a href="?page={{ list_sp.next_page_number }}">{{ list_sp.next_page_number }}</a></li>
              {% endif %} {% if list_sp.has_next %}
              <li>
                <a href="?page={{ list_sp.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
